.card {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
}

.btn.btn-sm {
  padding: 0.5rem 0.7rem;
  font-size: 0.64rem;
  border-radius: 5px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 0;
}

.bg-1 {
  background-color: #fadb58;
}

.b-9{
  font-weight: bolder;
}