@media (max-width: 992px) {
    .pt-5 {
        padding-top: 1rem !important;
    }
    .mt-3 {
        margin-top: .5rem !important;
    }
}

select option[disabled]:first-child {
	display: none;
}

.btn-1{
    background: #434343;
    color: #fff;
}