#search {
  height: 390px;
}

@media (max-width: 1220px) {
  #search { height: 390px; }
}

@media (max-width: 768px) {
  #search { height: 500px; }
}

@media (max-width: 450px) {
  #search { height: 420px; }
}

@media (max-width: 320px) {
  #search { height: 480px; }
}
