<ngx-spinner bdOpacity = 0.9 bdColor = "#333"
  size = "default" color = "#fff"
  type = "ball-running-dots" fullScreen = "true"
>
  <p style="color: white" > Carregando Bibliotecas... </p>
</ngx-spinner>
<div class="banner text-center" id="search">
	<app-search></app-search>
</div>
<section id="novas" class="py-4">
	<div class="container">
		<h2 class="border-bottom my-4 b-5 text-logos">Últimos Veículos</h2>
    <app-stock [limit]='8'></app-stock>
    <div class="text-center">
      <a [routerLink]="['/estoque']" class="btn btn-logos rounded-pill" mdbWavesEffect>ver mas</a>
    </div>
	</div>
</section>
<app-bottom></app-bottom>
<section id="novas" class="py-4">
	<div class="container">
		<h2 class="border-bottom my-4 b-5 text-logos">Melhores Ofertas</h2>
		<app-ofertas [oferta]='1' [limit]='4'></app-ofertas>
	</div>
</section>

