#pre-footer {
  background: #333;
}
.box-1{ background: #fadb58; }
.box-2 { background-color: #272727; }
.box-3 { background-color: #555; }

.f-07{ font-size: .7rem; }
.f-08{ font-size: .8rem; }
.f-09{ font-size: .9rem; }

.text-title-2 {
  color: #fadb58;
  fill: #fadb58;
  letter-spacing: 1px;
  padding: 0 10px;
  border-left:  3px solid #fff;
  border-right: 3px solid #fff;
}

.b-info__contacts{
  margin-bottom: 2em;
  margin-left: 0;
}


.b-info__contacts-item {
    text-align: left!important;
    margin-bottom: 2px;
}

.b-info__contacts-item {
  text-align: left!important;
  margin-bottom: 2px;
}

.b-info__contacts-item {
  font: 400 16px Open Sans,sans-serif;
}

.b-info__contacts { color: #999; }

.b-info__contacts-item em {
  font-style: normal;
}

