<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item *ngFor="let u of img">
    <div class="view w-100">
      <img class="d-block w-100" src="{{u.url}}" alt="">
    </div>
  </mdb-carousel-item>
</mdb-carousel>