<div class="w-100">
  <div class="bg-1 px-2 py-4 rounded-top">
    <h3 class='text-center text-white text-uppercase'>
        Clique aqui e simule seu financiamento!
    </h3>
  </div>
  <div class="rounded-bottom grey lighten-5 mb-4">
    <p class="mb-0 pt-3 text-center">a vista:</p>
    <h3 class='text-center bold text-1 mb-2'>
      {{sim.valor | currencyBrasil}}
    </h3>
    <form [formGroup]="fmProposta">
      <div class="px-3 pt-4">
        <input class="form-control mb-2" type="text" placeholder="Nome completo" formControlName="nome" required>
        <input class="form-control mb-2" type="email" placeholder="E-mail" formControlName="email">
        <!-- <div class="form-check mb-2">
          <input class="form-check-input" type="checkbox" value="" id="financiar" formControlName="financiamento">
          <label class="form-check-label f-08" for="financiar">
              Quero financiar
          </label>
        </div> -->
        <telefone class="mb-2" [placeholder]="9281000000" formControlName="telefone"></telefone>
        <!-- <input class="form-control form-control-sm mb-2" type="text" placeholder="CPF" formControlName="cpf" required> -->
        <!-- <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" value="" id="ofertas" formControlName="ofertas">
          <label class="form-check-label f-08" for="ofertas">
              Desejo receber ofertas por e-mail
          </label>
        </div> -->
      </div>
      <br>
      <button type="button" name="" id="" class="btn btn-2 btn-lg btn-block" (click)='onSubmit()' [disabled]='!fmProposta.valid'>
        <span class="f-12 text-uppercase text-grey bold">
            ENVIAR
        </span>
      </button>
    </form>
  </div>
</div>
