.bg-1{
  background-color: #555;
}

.btn-2 {
  background-color: #fadb58;
  color: #555;
  text-transform: uppercase;
}

.text-1 {
  color: #555;
}

.form-control-sm {
  padding: 0 0.5rem 0.25rem 0.5rem;
}
