.card {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
}

.btn.btn-sm {
    padding: 0.5rem 0.7rem;
    font-size: 0.64rem;
    border-radius: 5px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 0;
}

.section-preview {
    border: 1px solid #e0e0e0;
    padding: 10px;
}

select option[disabled]:first-child {
	display: none;
}

.bg-1{
    background: #434343;
}

.bg-2 {
    background-color: #fadb58;
}

.b-9{
    font-weight: bolder;
}

.btn-2 {
    background: #fadb58;
    color: #434343;
    font-weight: 600;
    font-size: 1.3rem;
}