<ngx-spinner bdOpacity = 0.9 bdColor = "#333"
  size = "default" color = "#fff"
  type = "ball-running-dots" fullScreen = "true"
>
  <p style="color: white" > Carregando Bibliotecas... </p>
</ngx-spinner>
<section id="estoque" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="bg-1 p-3">
          <section class="mb-3">
            <p class="border-bottom text-uppercase f-09 pl-4 b-6 text-white">Marca</p>
            <select class="browser-default custom-select" [(ngModel)]="marca">
              <option selected disabled>Selecionar</option>
              <option *ngFor="let m of marcas" value="{{m.nome}}" class="text-uppercase">{{m.nome}}</option>
            </select>
          </section>
          <section class="mb-3">
            <p class="border-bottom text-uppercase f-09 pl-4 b-6 text-white">Transmissão</p>
            <select class="browser-default custom-select" [(ngModel)]="transmissao">
              <option selected disabled>Selecione</option>
              <option value="manual">Manual</option>
              <option value="automatico">Automatico</option>
            </select>
          </section>
          <section class="mb-3">
            <p class="border-bottom text-uppercase pl-4 f-09 b-6 text-white">Combustivel</p>
            <select class="browser-default custom-select" id="combustivel" [(ngModel)]="combustivel">
              <option selected disabled>Selecionar</option>
              <option value="flex">Flex</option>
              <option value="gasolina">Gasolina</option>
              <option value="diesel">Diesel</option>
            </select>
          </section>
          <section class="mb-3">
            <p class="border-bottom text-uppercase pl-4 f-09 b-6 text-white">portas</p>
            <select class="browser-default custom-select" id="combustivel" [(ngModel)]="portas">
              <option selected disabled>Selecionar</option>
              <option value="2">2 portas</option>
              <option value="3">3 portas</option>
              <option value="4">4 portas</option>
            </select>
          </section>
          <section class="mb-3">
            <p class="border-bottom text-uppercase f-09 b-6 pl-4 text-white">Ano</p>
            <select class="browser-default custom-select" id="combustivel" [(ngModel)]="ano">
              <option selected disabled>Selecionar</option>
              <option value="2005">2005</option>
              <option value="2006">2006</option>
              <option value="2007">2007</option>
              <option value="2008">2008</option>
              <option value="2009">2009</option>
              <option value="2010">2010</option>
              <option value="2011">2011</option>
              <option value="2012">2012</option>
              <option value="2013">2013</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
            </select>
          </section>
          <section class="mb-3">
            <button type="button" mdbBtn outline='true' class='btn-2 btn-block' mdbWavesEffect (click)='getOfertas()'>Pesquisa</button>
          </section>
        </div>
      </div>
      <div class="col-md-9">

        <div class="row">
          <div class="col-md-4 col-xs-12 mb-4" *ngFor="let item of carros">
            <div class="card">
              <a routerLink="/veiculo/{{item.id}}" mdbWavesEffect>
                <app-imagen [carroId]='item.id' (img)="url($event)"></app-imagen>
              </a>
              <div class="card-body">
                <p class="f-09 b-5 text-uppercase mb-4 pl-2"> 
                  {{item.marcaCarro}} {{item.modeloCarro}}
                </p>
                <div class="pb-3 clearfix border-bottom">
                  <span class="float-left bg-2 p-2 leads b-9">
                    {{item.valor | currencyBrasil}}
                  </span>
                  <span class="float-right p-2 f-09 text-muted">
                    <mdb-icon fas icon="tachometer-alt"></mdb-icon>
                    {{item.kilometragem | thousands}} Km.
                  </span>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>