<ngx-spinner bdOpacity = 0.9 bdColor = "#333"
    size = "default" color = "#fff"
    type = "ball-running-dots" fullScreen = "true">
    <p style="color: white" > Carregando Bibliotecas... </p>
</ngx-spinner>
<section id="detalhes" class='py-5'>
  <div class="container" *ngFor="let i of car">
    <div class="row">
      <div class="col-xl-8">
        <h2 class="border-bottom pb-2 text-uppercase bold">
          {{i.marcaCarro}} {{i.modeloCarro}}
        </h2>
        <div class="row">
          <div class="col-xl-12 mt-4">
            <div class="clearfix">
              <span class="float-right bg-light py-2 px-3">
                <a href="https://api.whatsapp.com/send?phone=55988025008&text=Fale%20Conosco&source=&data=" class="text-muted">
                  Compartilhar
                  <mdb-icon fab icon="whatsapp" class="ml-1"></mdb-icon>
                </a>
              </span>
            </div>
            <app-carousel [carro]='i.id'></app-carousel>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <app-simula [carro]='i.id'></app-simula>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 mt-4">
        <div class="row">
          <div class="col-md-3 col-6 mb-3">
            <img src="./assets/icons/location.svg" class='icon mr-3' alt="">
            <span class='align-middle f-09'>Estado: {{estado}}</span>
          </div>
          <div class="col-md-3 col-6 mb-3">
            <img src="./assets/icons/location.svg" class='icon mr-3' alt="">
            <span class='align-middle f-09'>Cidade: {{cidade}}</span>
          </div>
          <div class="col-md-3 col-6 mb-3">
            <img src="./assets/icons/year.svg" class='icon mr-3' alt="">
            <span class='align-middle f-09'>Ano de Fabricação: {{i.ano_fabricacao}}</span>
          </div>
          <div class="col-md-3 col-6 mb-3">
            <img src="./assets/icons/model.svg" class='icon mr-3' alt="">
            <span class='align-middle f-09'>Ano de Modelo: {{i.ano_modelo}}</span>
          </div>
          <div class="col-md-3 col-6 mb-3">
            <img src="./assets/icons/cor.svg" class='icon mr-3' alt="">
            <span class='align-middle f-09'>Cor: {{i.cor}}</span>
          </div>
          <div class="col-md-3 col-6 mb-3">
            <img src="./assets/icons/kilometragem.svg" class='icon mr-3' alt="">
            <span class='align-middle f-09'>Kilometragem: {{i.kilometragem}}</span>
          </div>
          <div class="col-md-3 col-6 mb-3">
            <img src="./assets/icons/fuel.svg" class='icon mr-3' alt="">
            <span class='align-middle f-09'>Comb.: {{i.combustivel}}</span>
          </div>
          <div class="col-md-3 col-6 mb-3">
            <img src="./assets/icons/manual-transmission.svg" class='icon mr-3' alt="">
            <span class='align-middle f-09'>Cambios: {{i.transmissao}}</span>
          </div>
          <div class="col-md-3 col-6 mb-3">
            <img src="./assets/icons/portas.svg" class='icon mr-3' alt="">
            <span class='align-middle f-09'>Portas: {{i.portas}}</span>
          </div>
          <div class="col-md-3 col-6 mb-3">
            <img src="./assets/icons/placa.svg" class='icon mr-3' alt="">
            <span class='align-middle f-09'>Placa: {{i.placa}}</span>
          </div>
          <div class="col-md-3 col-6 mb-3">
            <img src="./assets/icons/sell.svg" class='icon mr-3' alt="">
            <span class='align-middle f-09'>Ofertas: {{oferta}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-md-6">
        <app-opcion [carro]='i.id'></app-opcion>
      </div>
      <div class="col-md-6">
        <app-complementares [carro]='i.id'></app-complementares>
      </div>
      <div class="col-md-12 pt-5">
        <h3 class="text-center border-bottom pb-2 mb-4">
          Descrição
        </h3>
        <p>{{ i.descricao}}</p>
      </div>
      <!-- <div class="col-md-12">
        <app-proposta [carro]='i.id'></app-proposta>
      </div> -->
    </div>
  </div>
</section>
<section id="ofertas">
  <div class="container">
    <h3 class="bg-1 text-2 text-uppercase my-4 b-5 px-4 py-1">
      Ofertas Novas</h3>
    <app-ofertas [oferta]='1' [limit]='4'></app-ofertas>
  </div>
</section>
