.bg-1{
  background-color: #555;
}

.btn-2 {
  background-color: #fadb58;
  color: #555;
  text-transform: uppercase;
}

.text-1 {
  color: #555;
}

.text-2 {
  color: #fadb58;
}

.icon{
  width: 25px;
}