.b-welcome {
  background: #434343!important;
  position: relative;
}

.b-welcome:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  background: #fadb58;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  left: -20%;
}

.b-welcome__text h2 {
  font: 400 14px Open Sans,sans-serif;
  padding: 0 10px;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 0 10px 0;
}

.b-welcome__text h3 {
  font: 700 30px Open Sans,sans-serif;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}
.b-welcome__text p {
  font: 300 13px Open Sans,sans-serif;
  margin: 0 0 25px 0;
}

.b-welcome__text ul {
  padding-left: 0;
  list-style: none;
  margin-top: 45px;
}

.b-welcome__services {
  margin-top: 5px;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.b-welcome__services .m-padding {
  padding: 0 10px;
}

.b-welcome [class^=b-welcome__services-]:not(.b-welcome__services-circle) {
  padding: 25px 0;
}

.b-welcome .b-welcome__services-auto {
  padding: 30px 0!important;
}
.b-welcome__services-auto, .b-welcome__services-buying, .b-welcome__services-support, .b-welcome__services-trade {
  background-color: #fff;
  padding: 35px 0;
  text-align: center;
}

.b-welcome__services h3 {
  font: 600 13px Open Sans,sans-serif;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  padding: 5px;
}

.b-welcome__services-circle {
  border-color: #434343;
}

.b-welcome__services-circle {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: -18px 0;
  border: 10px solid #434343;
  position: relative;
  z-index: 1000;
  background: #fff;
}

.b-welcome .b-welcome__services-img {
  width: 80px;
  height: 80px;
}
.b-welcome__services-img {
  height: 90px;
  width: 90px;
  border: 2px solid #efefef;
  border-radius: 100%;
  display: inline-block;
  position: relative;
}

.b-welcome__services-img span.fa {
  font-size: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
}

.b-welcome__services-img svg {
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
}

svg:not(:root) {
  overflow: hidden;
}