@media (max-width: 992px) {
    #footer {
        text-align: center !important;
    }
}

.move {
  bottom: 45px;
  right: 24px;
}
.fixed-action-btn {
  position: fixed;
  z-index: 998;
  right: 20px;
  bottom: 20px;
  margin-bottom: 0;
  padding-top: 15px;
}
