<footer id='footer' class="py-4 bg-light">
  <div class="container">
      <div class="row justify-content-between mt-4 mb-3">
          <div class="col-md-3">
            <img src="../../../../assets/images/auto-parvi.svg" height="50" alt="">
          </div>
          <div class="com-md-6">
            <p class='text-center f-08 pt-3 border-top'>
              © Copyright | Todos os direitos reservados |
              <a href="http://vanguardacomunicacao.com.br" target="_blank" class='text-danger'>Vanguarda Comunicação</a>
            </p>
          </div>
          <div class='col-md-3 text-right'>
              <a href="https://www.facebook.com/Autoparvi" target="_blank" class="mr-3">
                <mdb-icon fab icon="facebook-f" size='2x' class="text-muted"></mdb-icon>
              </a>
              <a href="https://www.instagram.com/siga.autoparvi/" target="_blank">
                <mdb-icon fab icon="instagram" size='2x' class="text-muted"></mdb-icon>
              </a>
          </div>
      </div>
  </div>
</footer>
<div class="fixed-action-btn move">
  <a class="btn-floating btn-lg green rounded-circle waves-effect waves-light"
    href="https://api.whatsapp.com/send?phone=5592988025008" target="_blank">
    <i class="fab fa-whatsapp text-white"></i></a></div>
