/* You can add global styles to this file, and also import other style files */
.bg-logos { background: #2E305B; }
.bg-logos-blue { background: #1565C0; }
.bg-parvi {
    background-color: #fadb58;
}

.btn-logos {
    color: #000 !important;
    background-color: #fadb58 !important;
    border-color: #fadb58 !important;
}

.btn-logos:hover {
    color: #000 !important;
    background-color: #e2c026!important;
    border-color: #e2c026!important;
}

.btn-outline-logos {
    border: 2px solid #2E305B !important;
    background-color: transparent !important;
    color: #2E305B !important;
}


/** Text y font*/
.text-logos {color: #044C5D; }
.bold { font-weight: bold; }
.b-7 { font-weight: 700; }
.b-6 { font-weight: 600; }
.b-5 { font-weight: 500; }
.b-4 { font-weight: 400; }

/** Title */
.h1-parvi {
    color: #555!important;
    border-left: 6px solid #555;
    border-right: 6px solid #555;
    line-height: 1.1;
}

/** Tamanho do fonte */
.f-07 { font-size: .7rem; }
.f-08 { font-size: .8rem; }
.f-09 { font-size: .9rem; }
.f-12 { font-size: 1.2rem; }
.f-14 { font-size: 1.4rem; }

/** Header */
.banner {
    background: url('./assets/images/fundo.jpg') no-repeat center center;
    background-size: cover;
    height: 50vh;
}


/** Footer */
#footer a { color: #fff; }
#footer a:hover { color: #bdbdbd; text-decoration: none; }

/** Carousel */
.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
    width: 70px !important;
    height: 70px !important;
}

a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
    background: rgba(0,0,0,.5);
}



    .custom-slider .ng5-slider .ng5-slider-bar {
      background: #ffe4d1;
      height: 2px;
    }
    .custom-slider .ng5-slider .ng5-slider-selection {
      background: fadb58;
    }

    .custom-slider .ng5-slider .ng5-slider-pointer {
      width: 8px;
      height: 16px;
      top: auto; /* to remove the default positioning */
      bottom: 0;
      background-color: #333;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    .custom-slider .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }

    .custom-slider .ng5-slider .ng5-slider-bubble {
      bottom: 14px;
    }

    .custom-slider .ng5-slider .ng5-slider-limit {
      font-weight: bold;
      color: orange;
    }

    .custom-slider .ng5-slider .ng5-slider-tick {
      width: 1px;
      height: 10px;
      margin-left: 4px;
      border-radius: 0;
      background: #ffe4d1;
      top: -1px;
    }

    .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
      background: orange;
    }

@media (min-width: 300px) {
    .banner {
        height: 70vh;
    }
}

@media (min-width: 1225px) {
    .banner {
        height: 50vh;
    }
}
