<h3 class="border-bottom pb-2 mb-4">
  Informações Complementares
</h3>
<div class="row"  *ngFor="let o of opcion">
  <div class="col-md-4 col-6" *ngIf="o.baixa_km == 1">
    <p><i class="far fa-check-circle mr-2"></i>Baixa Km.</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.arBag == 1">
    <p><i class="far fa-check-circle mr-2"></i>Ar Bag</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.feito_cautelar == 1">
    <p><i class="far fa-check-circle mr-2"></i>Feito Cautelar</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.garantia_fabrica == 1">
    <p><i class="far fa-check-circle mr-2"></i>Garantia Fabrica</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.garantia_loja == 1">
    <p><i class="far fa-check-circle mr-2"></i>Garantia Loja</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.licenciado == 1">
    <p><i class="far fa-check-circle mr-2"></i>Licenciado</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.nemhuma_batida == 1">
    <p><i class="far fa-check-circle mr-2"></i>Nemhuma Batida</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.pneus_novo == 1">
    <p><i class="far fa-check-circle mr-2"></i>Pneus Novos</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.ipva_pago == 1">
    <p><i class="far fa-check-circle mr-2"></i>IPVA Pago</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.revisoes_realizadas == 1">
    <p><i class="far fa-check-circle mr-2"></i>Revisões Realizadas</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.unico_dono == 1">
    <p><i class="far fa-check-circle mr-2"></i>Unico Dono</p>
  </div>
</div>
