<header>
    <mdb-navbar SideClass="navbar navbar-expand-lg fixed-top sticky-top navbar-light">
      <mdb-navbar-brand>
        <a href="#" class="navbar-brand">
          <img src="./assets/images/logo.png" height="50" alt="">
        </a>
      </mdb-navbar-brand>
      <links>
        <!-- <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
              <a routerLink="/painel" class="nav-link waves-light" mdbWavesEffect>Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link waves-light" routerLink="/veiculos" mdbWavesEffect>Veículos</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link waves-light" routerLink="/propostas" mdbWavesEffect>Propostas</a>
          </li>
        </ul> -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a routerLink="/home" class="nav-link waves-light" mdbWavesEffect>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light tt"
            (click)="basicModal.show()" mdbWavesEffect>Fale Conosco
            </a>
          </li>
        </ul>
      </links>
    </mdb-navbar>
</header>
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="formWhatsApp">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100 text-center font-weight-bolder" id="myModalLabel">
              <mdb-icon fab icon="whatsapp" class="text-success"></mdb-icon>
              Fale Conosco
          </h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome"
              placeholder="Nome e Sobrenome" formControlName='nome'>
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email"
              placeholder="xxx@yy.com" formControlName='email'>
          </div>
          <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="tel" class="form-control" id="telefone"
              placeholder="Telefone" formControlName='telefone' [brmasker]="{phone: true}">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="success" class="relative waves-light" mdbWavesEffect (click)='onSend()' [disabled]="!formWhatsApp.valid">Enviar</button>
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Fechar</button>
        </div>
      </form>
    </div>
  </div>
</div>
